{% extends 'tienda/base.html' %}
{% load static %}
{% block content %}
<h1 class="my-4">Solicitudes de la tienda</h1>
<div class="table-contenedor">
<table class="table table-hover tabla-crud">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Asunto</th>
        <th scope="col">E-mail</th>
        <th scope="col">Fecha</th>
        <th scope="col">Resuelta</th>
        <th scope="col">Detalles</th>
      </tr>
    </thead>
    <tbody>
        {% for con in contact %}
            <tr>
              <th scope="row">{{con.id}}</th>
              <td>{{con.asunto}}</td>
              <td>{{con.email_emisor}}</td>
              <td>{{con.fecha_emision}}</td>
              <td>{% if con.resuelta %} Si {% else %} No {% endif %}</td>
              <form method="POST">
                {% csrf_token %}
                <td><button type="submit" value="{{con.id}}" name="boton_id" class="btn btn-crud">Revisar</button></td>
              </form>
            </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

