{% extends 'tienda/base.html' %}
{% load static %}
{% block content %}

<div class="contenedor-login">
    <form method="POST" class="form-login">
        {% csrf_token %}
        <div class="login-header">
            <p>GameBuy</p>
            <img src="{% static 'img/logo_1.png' %}" alt="">
            {% if mensaje %}
                <div class="alert alert-danger my-3" role="alert">
                    {{mensaje}}
                </div>
            {% else %}

            {% endif %}
        </div>
        <div class="form-group">
            <label for="nombre_usuario">Nombre de usuario</label>
            <input type="text" class="form-control" id="nombre_usuario" name="nombre_user">
            <small id="nombre_small"></small>
        </div>
        <div class="form-group">
            <label for="contra_usuario">Contraseña</label>
            <input type="password" class="form-control" id="contra_usuario" name="contra_user">
            <small id="contra_small"></small>
        </div>
        <button type="submit" class="btn btn-primary form-submit-btn">Ingresar</button>
        <hr>
        <div class="login-footer">
            <p>¿No tienes una cuenta?</p>
            <p id="registrate-tag"><a href="{% url 'registro' %}"><b>Registrate</b></a></p>
        </div>
    </form>
</div>

<script type="module" src="{% static 'JS/login.js' %}"></script>

{% endblock %}