{% extends 'tienda/base.html' %}
{% load static %}
{% block content %}

<div class="container my-5">
    <div class="row d-flex justify-content-between align-items-center">
        <img class="perfil-img" src="{% static '/img/generic-profile.png'%}">
        <h1 class="">{{user.username}}</h1>
    </div>
    <hr>
        <form class="perfil-form">
            <div class="form-group">
                <label for="inputNombre">Nombre</label>
                <input disabled type="text" id="inputNombre" class="form-control" placeholder="{{cliente.nombre}}">
            </div>
            <div class="form-group">
                <label for="inputPriApellido">Primer Apellido</label>
                <input disabled type="text" id="inputPriApellido" class="form-control" placeholder="{{cliente.primer_apellido}}">
            </div>
            <div class="form-group">
                <label for="inputSegApellido">Segundo Apellido</label>
                <input disabled type="text" id="inputSegApellido" class="form-control" placeholder="{{cliente.segundo_apellido}}">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Correo Electrónico</label>
              <input disabled type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{usuario.email}}">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input disabled type="password" class="form-control" id="exampleInputPassword1" placeholder="************">
            </div>
          </form>

</div>

{% endblock %}