{% extends 'tienda/base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid my-4">
        <div class="row">
            <img class="col prod-img " src="{{game.imagen}}" id="producto-img" >
            <div class="col ">
                <h1 id="prod-titulo">{{game.nombre}}</h1>
                <h2 >${{game.precio}}</h2>
                <hr>
                <h5 class="my-4">Disponibilidad: {{game.cantidad}}</h5>
                <hr>
                <h5>Descripcion</h5>
                <p class="prod-desc"> 
                  Game Buy es la quinta empresa nacional más grande de videojuegos de la comuna y estamos muy interesados en mostrarles
                  todos lo que tenemos para ofrecerles y necesito rapidamente rellenar este espacio para probar un pequeño e insignificante
                  tema, ojala funcione lo mejor posible Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas placerat augue vitae 
                  tortor rhoncus posuere. 
                </p>
                <hr>
                <div class="prod-flexx">

                    <p id="fecha-prod">Lanzamiento: {{game.fecha_lanzamiento}}</p>
                    <p id="genre-prod" name="genero">Géneros: {{game.genero}}</p>
                    <p id="rating-prod">Valoración: {{game.valoracion}}</p>
                </div>
                <hr>
                <div class="prod-carrito">
                    <div class="ultimo-contenedor">
                        <div class="botones-agregar">
                                <form method="POST">
                                {% csrf_token %}
                                <button class="btn-cant" id="minus" type="button">-</button>
                                <input  id="prod-cant" type="text" name="prod-cantidad" value="1">
                                <button class="btn-cant" id="plus" type="button">+</button>
                                <button id="prod-add" type="submit" value= "" name="prod-add-btn" class="btn ">Añadir Al Carrito</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'JS/prod.js' %}"></script>

{% endblock %}