{% extends 'tienda/base.html' %}
{% load static %}
{% block content %}

<div class="contenedor-login">
    <form method="POST" class="form-login">
        {% csrf_token %}
        <div class="login-header">
            <h2>GameBuy</h2>
            <img src="{% static 'img/logo_1.png' %}" alt="">
        </div>

        {% if mensaje %}
            <div class="alert alert-danger my-3" role="alert">
                {{mensaje}}
            </div>
        {% else %}

        {% endif %}

        <div class="form-group">
            <label for="nombre_usuario">Nombre de usuario</label>
            <input type="text" class="form-control" id="nombre_usuario" name="nombre_user" placeholder="Ejemplo: PanConQueso">
        </div>

        <div class="form-group">
            <label for="nom_real1">Nombre</label>
            <input type="text" class="form-control" id="nom_real1" name="nombre" placeholder="Juan">
        </div>

        <div class="form-group">
            <label for="p_apellido">Primer Apellido</label>
            <input type="text" class="form-control" id="p_apellido" name="pri_apellido" placeholder="Balmaceda">
        </div>

        <div class="form-group">
            <label for="s_apellido">Segundo Apellido</label>
            <input type="text" class="form-control" id="s_apellido" name="seg_apellido" placeholder="Torres">
        </div>

        <div class="form-group">
            <label for="correo_id">Correo Electrónico</label>
            <input type="email" class="form-control" id="correo_id" name="email" placeholder="example@gmail.com">
        </div>

        <div class="form-group">
            <label for="contra_usuario">Contraseña</label>
            <input type="password" class="form-control" id="contra_usuario" name="contra_user" placeholder="Nunca comparta su contraseña">
        </div>

        <button type="submit" class="btn btn-primary">Registrarse</button>
        <hr>
    </form>
</div>

{% endblock %} 