{% extends 'tienda/base.html' %}
{% load static %}
{% block content %}

<div class="contenedor-login">
    <form method="POST" class="form-login">
        {% csrf_token %}
        <div class="login-header">
            <h2>GameBuy</h2>
            <img src="{% static 'img/logo_1.png' %}" alt="">
        </div>

        <div class="form-group">
            <label for="nombre_usuario">Nombre de usuario</label>
            <input type="username" class="form-control" id="nombre_usuario" name="nombre_user" placeholder="Ejemplo: PanConQueso">
        </div>

        <div class="form-group">
            <label for="contra_usuario">Nombre</label>
            <input type="first_name" class="form-control" id="nom_real1" name="nombre_real1" placeholder="Primer Nombre">
        </div>

        <div class="form-group">
            <label for="contra_usuario">Apellido</label>
            <input type="last_name" class="form-control" id="nom_real2" name="nombre_real2" placeholder="Segundo Nombre">
        </div>

        <div class="form-group">
            <label for="contra_usuario">Contraseña</label>
            <input type="password" class="form-control" id="contra_usuario" name="contra_user" placeholder="Nunca comparta su contraseña">
        </div>

        <button type="submit" class="btn btn-primary">Registrarse</button>
        <hr>
    </form>
</div>

    <!-- <script type="module" href="{% static 'JS/main.js' %}"></script> -->

    <!--
        Cosas que agregar en el registro

        Nombre de Usuario
        Nombre Real
        Apellido Real
        Contraseña
    -->

{% endblock %} 