{% extends 'tienda/base.html' %}
{% load static %}
{% block content %}


   <div class="container ">
        <div class="row justify-content-center">
            <img src="{% static 'img/logo_1.png' %}" height="200" width="200">
        </div>
        <h2 class="row justify-content-center">Game Buy</h2>
    </div>
    <div class="container-fluid  my-4 tienda-search-bar">
        <div class="row justify-content-center">
            <div class="input-group" id="search-input">
                <input type="text" class="form-control" id="tienda-buscador" placeholder="Dark Souls">
                <div class="input-group-append">
                    <div class="input-group-text"><img src="{% static 'img/lupa.png' %}" class="lupa-img"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center" id="store-display">
            {% for game in games%}
                    <div class="carta">
                        <a src=""><img src="{{game.imagen}}"alt="Avatar" class="carta-img"></a>
                        <div class="card-cont">
                            <div class="upper-cont">
                                <h4 class="my-3"><b> {{game.nombre}}  </b></h4>
                                <p> {{game.genero}} </p>
                                <p>${{game.precio}}</p>
                            </div>
                            <div class="lower-cont">
                                <form method="POST">
                                    {% csrf_token %}
                                    <button name="game_id" value='{{game.id}}' class="btn btn-primary carta-btn" type="submit">Ver más</button>
                                </form>
                            </div>
                        </div>
                    </div>
            {% endfor %}
            {% comment %}
            <div class="carta"> 
                <img alt="avatar" src="{% static 'img/logo_1.png' %}" class="carta-img-default skeleton"> 
                <div class="card-cont"> 
                    <div class="upper-cont ske-cont">
                        <p class=" skeleton" id="ske-titulo"></p>
                        <p class="skeleton"></p>
                        <p class="skeleton"></p>
                    </div>
                    <div class="lower-cont">
                        <p class="ske-btn skeleton" ></p> 
                    </div>
                </div>
            </div>
            <div class="carta"> 
                <img alt="avatar" src="{% static 'img/logo_1.png' %}" class="carta-img-default skeleton"> 
                <div class="card-cont"> 
                    <div class="upper-cont ske-cont">
                        <p class=" skeleton" id="ske-titulo"></p>
                        <p class="skeleton"></p>
                        <p class="skeleton"></p>
                    </div>
                    <div class="lower-cont">
                        <p class="ske-btn skeleton" ></p> 
                    </div>
                </div>
            </div>
            <div class="carta"> 
                <img alt="avatar" src="{% static 'img/logo_1.png' %}" class="carta-img-default skeleton"> 
                <div class="card-cont"> 
                    <div class="upper-cont ske-cont">
                        <p class=" skeleton" id="ske-titulo"></p>
                        <p class="skeleton"></p>
                        <p class="skeleton"></p>
                    </div>
                    <div class="lower-cont">
                        <p class="ske-btn skeleton" ></p> 
                    </div>
                </div>
            </div>
            <div class="carta"> 
                <img alt="avatar" src="{% static 'img/logo_1.png' %}" class="carta-img-default skeleton"> 
                <div class="card-cont"> 
                    <div class="upper-cont ske-cont">
                        <p class=" skeleton" id="ske-titulo"></p>
                        <p class="skeleton"></p>
                        <p class="skeleton"></p>
                    </div>
                    <div class="lower-cont">
                        <p class="ske-btn skeleton" ></p> 
                    </div>
                </div>
            </div>
            <div class="carta"> 
                <img alt="avatar" src="{% static 'img/logo_1.png' %}" class="carta-img-default skeleton"> 
                <div class="card-cont"> 
                    <div class="upper-cont ske-cont">
                        <p class=" skeleton" id="ske-titulo"></p>
                        <p class="skeleton"></p>
                        <p class="skeleton"></p>
                    </div>
                    <div class="lower-cont">
                        <p class="ske-btn skeleton" ></p> 
                    </div>
                </div>
            </div>

            <div class="carta"> 
                <img alt="avatar" src="{% static 'img/logo_1.png' %}" class="carta-img-default skeleton"> 
                <div class="card-cont"> 
                    <div class="upper-cont ske-cont">
                        <p class=" skeleton" id="ske-titulo"></p>
                        <p class="skeleton"></p>
                        <p class="skeleton"></p>
                    </div>
                    <div class="lower-cont">
                        <p class="ske-btn skeleton" ></p> 
                    </div>
                </div>
            </div>

            <div class="carta"> 
                <img alt="avatar" src="{% static 'img/logo_1.png' %}" class="carta-img-default skeleton"> 
                <div class="card-cont"> 
                    <div class="upper-cont ske-cont">
                        <p class=" skeleton" id="ske-titulo"></p>
                        <p class="skeleton"></p>
                        <p class="skeleton"></p>
                    </div>
                    <div class="lower-cont">
                        <p class="ske-btn skeleton" ></p> 
                    </div>
                </div>
            </div>
            {% endcomment %}
        </div>
        <a id="anch" href="{% url 'producto' %}"></a>
    </div>
    

{% endblock %}